<section class="skills">
  <h2>¡Hola! soy un WPR Bot y te voy a contar un poco sobre mi</h2>
  
  <ul>
    <li>
      <span class="icon">💧</span>
      <p><strong>Mi destreza:</strong> Soy capaz de recoger residuos flotantes, medir parámetros de calidad del agua como el pH y la transparencia, y ofrecer control remoto inmersivo a través de gafas de realidad virtual. </p>
    </li>
    <li>
      <span class="icon">💻</span>
      <p><strong>Mi diseño:</strong> Tengo integrada una cámara en la parte frontal y conectada a un sistema de realidad virtual  mediante conectores de transmisión de video, para que el operador pueda ver en tiempo real el entorno acuático.</p>
    </li>
    <li>
      <span class="icon">⚓</span>
      <p><strong>Mi objetivo:</strong> Busco crear un entorno que beneficie al cuidado de los muelles o lugares concurridos en el mar para así poder mejorar la
        limpieza del entorno, ya que ayudará a poder revisar la transparencia del agua, el PH y limpiará cualquier
        desecho en la superficie del agua.</p>
    </li>
  </ul>
</section>
