<section class="contact">
  <h2>¡Contáctanos!</h2>
  <p class="contact-intro">
    Si requieres asistencia sobre el funcionamiento del robot o sobre cómo utilizar sus capacidades, no dudes en ponerte en contacto con nuestro equipo.
  </p>
  <a href="mailto:alisson.yanzat.est&#64;uets.edu.ec" class="email-link">
    📧 alisson.yanzat.est&#64;uets.edu.ec
  </a>
  
  <a href="mailto:david.benenaulal.est&#64;uets.edu.ec" class="email-link">
    📧 david.benenaulal.est&#64;uets.edu.ec
  </a>

  <a href="mailto:andres.castanedac.est&#64;uets.edu.ec" class="email-link">
    📧 andres.castanedac.est&#64;uets.edu.ec
  </a>
  
  <a href="mailto:paolo.monteroo.est&#64;uets.edu.ec" class="email-link">
    📧 paolo.monteroo.est&#64;uets.edu.ec
  </a>
  

  
  <form class="contact-form">
    <input type="text" placeholder=" Tu nombre" class="form-input" required />
    <input type="email" placeholder=" Tu correo electrónico" class="form-input" required />
    <textarea placeholder=" Tu mensaje" class="form-textarea" required></textarea>
    <button type="submit" class="form-button">Enviar mensaje</button>
  </form>
</section>
