<section class="skills">
  <h2>¡Quienes somos!</h2>

  <div class="team-members">
    <div class="team-member">
      <span class="icon">🤖</span>
      <h1> "La tesis brilla como mi mochila naranja de 10mo"</h1>
      <strong>-Andres Castañeda 3D1 </strong>
    </div>
    <div class="team-member">
      <span class="icon">🤖</span>
      <h1> "No se muere el que se va, solo se muere el que se olvida"</h1>
      <strong>-Paolo Montero 3D1 </strong>
    </div>
    <div class="team-member">
      <span class="icon">👾</span>
      <h1> "Aguanta le pregunto a chat"</h1>
      <strong>-David Benenaula 3E2 </strong>
    </div>
    <div class="team-member">
      <span class="icon">👾</span>
      <h1> "Si no esta en bachillerato esta mas bueno"</h1>
      <strong>-Alisson Yanza 3E2</strong>
    </div>
  </div>
</section>
