<section class="skills">
  <h2>¡Quienes somos!</h2>

  <div class="team-members">
    <div class="team-member">
      <span class="icon">🤖</span>
      <p><strong>Andres Castaneda:</strong> Soy un estudiante de 3º de Bachillerato con un profundo interés y dedicación en el campo de la mecatrónica...</p>
    </div>
    <div class="team-member">
      <span class="icon">🤖</span>
      <p><strong>Paolo Montero:</strong> Soy un estudiante de 3º de Bachillerato apasionado por la mecatrónica...</p>
    </div>
    <div class="team-member">
      <span class="icon">👾</span>
      <p><strong>Alisson Yanza:</strong> Soy una estudiante  de 3º de Bachillerato con un gran interés en la informática...</p>
    </div>
    <div class="team-member">
      <span class="icon">👾</span>
      <p><strong>David Benenaula:</strong> Soy un estudiante de 3º de Bachillerato con una sólida inclinación por la informática...</p>
    </div>
  </div>
</section>
